<template name="footer">
	<footer class="container-fluid reactnative-gallery">
		<div class="row">
			<div class="col-xs-12 text-center">
				<small>
					Initially Made By <a href="http://natestrauser.me" target="_blank">Nate Strauser</a>
					&nbsp;-&nbsp;
					<i class="fa fa-github fa-lg"></i>&nbsp;&nbsp;<a href="https://github.com/nate-strauser/wework" target="_blank">Fork wework on GitHub</a>
				</small>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12 text-center">
				<br>
				<small>
					<i class="fa fa-rss"></i> RSS <a href="/rss/jobs" target="_blank">Jobs</a>
					&nbsp;-&nbsp;
					<i class="fa fa-code"></i> JSON <a href="/api/jobs" target="_blank">Jobs</a>
				</small>
				<br>
			</div>
		</div>
		<div class="row">
				<div class="col-xs-12 text-center">
					<br>
					<small>
						a product of <a target="_blank" href="https://reactnative.gallery/">reactnative.gallery</a>
						&nbsp;-&nbsp;
						made with love by <a target="_blank" href="https://xaviercarpentier.com/">Xavier Carpentier</a>
					</small>
					<br>
				</div>
			</div>
		<div class="row">
			<div class="col-xs-12 text-center" id="disclaimer">
				We hire React-Native is an independent entity and has not been authorized, sponsored or otherwise approved by <a href="https://facebook.github.io/react-native/">React-Native community</a>.
			</div>
		</div>
	</footer>
</template>
