<template name="jobContact">
  <div class="modal fade">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Do you know reactnative.gallery?</h4>
        </div>

        <div class="modal-body">
          <br /><br />
          <div class="row">
            <div class="col-sm-12 centered">
              <strong
                >React Native Gallery is where developers get
                visibility!</strong
              >
              <br />
              <br />
              <a
                class="btn btn-success"
                target="blank"
                role="button"
                href="https://reactnative.gallery/"
              >
                <i class="fa fa-chevron-right"></i> Find out more</a
              >
              <br />
              <br />
            </div>

            <div class="col-sm-12">
              <strong>Don't miss to contact the recruiter!</strong>
              <br />
              <br />
              <a
                class="btn btn-success"
                target="blank"
                role="button"
                href="mailto:{{ contact }}"
              >
                <i class="fa fa-chevron-right"></i> Contact</a
              >
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12 text-right">
              <button
                type="button"
                class="btn btn-default"
                data-dismiss="modal"
              >
                Cancel
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
